.to-do-list-add form {
    display: flex;
}

@media (max-width: 992px) {
    .to-do-list-add form {
        display: block;
    }
    .to-do-list-add form input[type="submit"] {
        width: 100%;
    }
}

.to-do-list-add form .task {
    flex-basis: 60%;
}

.to-do-list-add form .task input {
    width: 100%;
    background-color: #eee;
}

.to-do-list-add form .priority {
    flex-basis: 30%;
}

.to-do-list-add form .priority input {
    width: 100%;
    background-color: #eee;
}

.to-do-list-add form input {
    flex-basis: 10%;
}

.to-do-list-add form input {
    border: none;
    padding: 1rem;
    outline: none;
    color: #30B9F0;
    font-weight: bold;
}

.to-do-list-add form input[type="submit"] {
    cursor: pointer;
    color: #fff;
    background-color: #30B9F0;
}