.to-do-list-tasks {
    background-color: #fff;
}

.to-do-list-tasks .no-tasks {
    background-color: #fff;
    color: #46529d;
    padding: 1rem 0.4rem;
}

.to-do-list-tasks .t-header {
    display: flex;
    background-color: #30B9F0;
}

.to-do-list-tasks .t-header .title {
    color: #fff;
    padding: 1rem 0.4rem;
    font-weight: bolder;
    font-size: 20px;
}

.to-do-list-tasks .t-header .task,
.to-do-list-tasks>div:not(.t-header) .task {
    flex-basis: 60%;
    padding: 1rem 0.4rem;
}

.to-do-list-tasks .t-header .priority,
.to-do-list-tasks>div:not(.t-header) .priority {
    flex-basis: 30%;
    padding: 1rem 0.4rem;
}

.to-do-list-tasks .t-header .times,
.to-do-list-tasks>div:not(.t-header) .times {
    flex-basis: 10%;
    padding: 1rem 0.4rem;
    color: #30B9F0;
    cursor: pointer;
}

.to-do-list-tasks>div>span {
    color: #264653;
}

.to-do-list-tasks>div:not(.t-header) {
    display: flex;
}